<section class="mode-preview">
    <div class="container">
        <div class="mode-slider">
            <img class="dark-mode mode-img" src="./images/dark-light-mode-preview/dark-mode.svg" alt="dark mode preview">
            <div class="slider-dark-light">
                <img src="./images/dark-light-mode-preview/slider.svg" alt="">
            </div>
            <img class="light-mode mode-img" src="./images/dark-light-mode-preview/light-mode.svg" alt="dark mode preview">
        </div>
    </div>
</section>