<section class="tools">

    <div class="container">
        <h1>Integrate Top Work Tools</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="content">
            <div class="tool-box">
                <img src="./images/tools-icons/Google.svg" alt="Google">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool-box">
                <img src="./images/tools-icons/Zoom.svg" alt="Zoom">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="tool-box">
                <img src="./images/tools-icons/Slack.svg" alt="Slack">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool-box">
                <img src="./images/tools-icons/gmail.svg" alt="Gmail">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="tool-box">
                <img src="./images/tools-icons/Trello.svg" alt="Trello">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="tool-box">
                <img src="./images/tools-icons/MailChimp.svg" alt="MailChimp">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="tool-box">
                <img src="./images/tools-icons/Dropbox.svg" alt="Dropbox">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="tool-box">
                <img src="./images/tools-icons/Evernote.svg" alt="Evernote">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>