.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  padding: 12px 25px;
  background-color: transparent;
  color: var(--color-gray-900);
  border: none;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  outline: none;

  &:hover {
    color: var(--color-theme);
  }

  i {
    margin-right: 8px;
  }
}

.btn-nav {
    padding: 8px 0;
    font-size: 16px;

    &.active {
        border: 1px solid var(--color-theme);
        background-color: var(--color-theme);
        color: white;
    }

    &:hover {
        border: 1px solid var(--color-gray-800);
        background-color: var(--color-gray-800);
        color: var(--color-gray-100);
        text-decoration: none;
    }
}

.btn-theme {
    border: 1px solid var(--color-theme);
    background-color: var(--color-theme);
    color: white;

    &:hover {
        border: 1px solid var(--color-gray-800);
        background-color: var(--color-gray-800);
        color: var(--color-white);
    }
}

.btn-secondary {
  background-color: var(--color-gray-200);
  color: var(--color-gray-900);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-gray-900);
  }
}

.btn-menu {
  font-size: 28px;
  padding: 12px 0px;
  
}

.btn-gray {
    background: var(--color-gray-200);
    color: var(--color-black);
    border: 1px solid var(--color-gray-200);

    &:hover {
        text-decoration: none;
        border: 1px solid var(--color-theme);
        background: var(--color-theme);
        color: var(--color-white);
    }
}

.btn-white {
    border: 1px solid var(--color-gray-100);
    background-color: var(--color-white);
    color: var(--color-gray-100);

    &:hover {
        border: 1px solid var(--color-gray-700);
        background-color: var(--color-gray-700);
        color: var(--color-white);

        i {
            color: var(--color-white);
        }
    }
}

.btn-circle {
    background: white;
    color: #565973;
    padding: 8px 8px;
    width: 44px;
    height: 44px;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid var(--color-gray-300);
    box-shadow: 0 4px 4px -4px rgba(0,0,0,0.25);

    i {
        margin-top: 2px;
        margin-right: 0;
    }

    &:hover {
        cursor: pointer
    }
}
.btn-circle-sm {
    width: 30px;
    height: 30px;
}

.btn-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-gray-800);
    color: var(--color-gray-200);
  }
}

.btn-youtube {
    color: white;
    background-color: var(--color-system-error);
}

.btn-facebook {
    color: white;
    background-color: var(--color-system-info);
}

.btn-delete {
    border: 1px solid var(--color-system-error);
    background-color: var(--color-system-error);
    color: white;

    &:hover {
        border: 1px solid var(--color-system-error);
        background-color: var(--color-white);
        color: var(--color-system-error);
    }
}